<nb-card status="success">
  <nb-card-header> All Payment Vouchers Chart
    <i class="ion-heart" *ngIf="isPettyCashFav" (click)="addPettyCashFav()" style="color:red"></i>
    <i class="ion-heart" *ngIf="!isPettyCashFav" (click)="addPettyCashFav()" style="color:black"></i>
  </nb-card-header>
  <nb-card-body>
    <pettycash-legend-chart-component [legendItems]="chartLegend"></pettycash-legend-chart-component>
    <div echarts [options]="options" class="echart"></div>
  </nb-card-body>

  <nb-card-footer>
    <div  style="color: blue;">
      This report display all types of payment voucher issued including paybills.
    </div>
    <div style="color: blue;">
      In Desktop, Go to Report -> Payment Reports -> All Payment Voucher Lists
    </div>
  </nb-card-footer>
</nb-card>

<!--<nb-card status="danger">-->
<!--<nb-card-header>Petty Cash Chart</nb-card-header>-->
<!--<nb-card-body>-->
<!--<pettycash-echarts-bar></pettycash-echarts-bar>-->
<!--</nb-card-body>-->
<!--<nb-card-footer> Flip to show Data</nb-card-footer>-->
<!--</nb-card>-->
