:host /deep/ ng2-st-tbody-edit-delete {
  display: flex !important;
  height: 100 !important;
  width: 66% !important;
  padding-top: 26px;
  text-align: center;
}

:host /deep/ ng2-st-tbody-create-cancel {
  padding-top: 17px;
}

:host
/deep/
ng2-st-tbody-custom
a.ng2-smart-action.ng2-smart-action-custom-custom {
  width: 100% !important;
  text-align: right;
  font-size: 1.1em;
  color: #3baf29;
  padding-top: 26px;
  padding-bottom: 26px;
  height: 100 !important;
}

:host
/deep/
ng2-st-tbody-custom
a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: #5dcfe3;
}

:host /deep/ ng2-smart-table .ng2-smart-actions {
  width: 100% !important;
  display: inline-flex !important;
  height: 100%;
}

:host /deep/ .customformat{ text-align: right; }

//change col width
//:host /deep/ ng2-smart-table table tr td{
//  font-size:0.9em;
//  word-break: break-all;
//}

:host {
  ::ng-deep .customerName .ng2-smart-title {
    width: 200px;
  }
}

.checkinNote {
  background: rgba(56, 41, 86, 0.5);
}

/* headers grid color*/
:host /deep/ ng2-smart-table thead > tr > td  {
  border: 1px solid grey;
  background-color:#673ab7;
}

//:host {
//  ::ng-deep .checkinNote .ng2-smart-title {
//    background: rgba(86, 241, 86, 0.5);
//  }
//}
//
//:host /deep/ .checkinNote {
//  background: rgba(86, 241, 86, 0.5);
//}
