<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Nationality</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Religion</nb-card-header>
      <nb-card-body>
        <ngx-religion-pie></ngx-religion-pie>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Grades</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar></ngx-echarts-bar>
      </nb-card-body>
    </nb-card>
  </div>

</div>
