nb-card {
  max-height: 100%;
  height: 400px;
}

nb-card.accent-primary {
  border-top-color: white;
}

.btn.btn-primary {
  background-color: green;
}

.btn.btn-primary:hover {
  background-color: green;
}
