<div class="row">
  <nb-flip-card>
    <nb-card-front>
      <nb-card status="success">
        <nb-card-header>Hello from Hinawi Software team.</nb-card-header>
        <nb-card-body>
          Hinawi Software has the capacity to deliver a comprehensive solution tailored to the client's precise requirements;
          it begins with our integrated modules.
        </nb-card-body>
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card status="danger">
        <nb-card-header>Hinawi ERP 2020</nb-card-header>
        <nb-card-body>
          Please stay tuned for more updates in our new smart platform...
          <nb-badge text="new" status="success" position="top right"></nb-badge>
        </nb-card-body>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>

</div>

<div class="lists row">
  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card class="list-card" size="small">
      <nb-card-header>Customers Balances</nb-card-header>
      <nb-list >
        <nb-list-item *ngFor="let customer of customers">
          <nb-user [name]="customer.name | uppercase" [title]="customer.balance  | number">
            <i class="i-contact nb-phone"></i>
          </nb-user>

        </nb-list-item>
      </nb-list>

    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card class="list-card" size="small">
      <nb-card-header>Vendors Balances</nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let vendor of vendors">
          <nb-user [name]="vendor.name | uppercase" [title]="vendor.balance  | number">
          </nb-user>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>


<nb-card class="list-card" size="small">
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Customers">
      <div class="contact" *ngFor="let c of customers">
        <nb-user  [name]="c.name" [title]="c.balance" size="large"></nb-user>
        <!--<a href="tel:22222222"> <i class="i-contact nb-phone" (click)="goToHome(c)"></i></a>-->
      </div>
    </nb-tab>
    <nb-tab tabTitle="Vendors">
      <div class="contact" *ngFor="let c of vendors">
        <nb-user [name]="c.name" [title]="c.balance" size="large"></nb-user>
        <span class="time">{{ c.balance }}</span>
      </div>
    </nb-tab>
  </nb-tabset>

</nb-card>
